# --- Base de données ---
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tiktokshop_dz?schema=public"

# --- Admin JWT Secret ---
JWT_SECRET="change-this-to-a-strong-secret-key-32chars"

# --- Railway (ajoutées automatiquement) ---
# PORT=3000
# RAILWAY_ENVIRONMENT=production
